@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono&family=Spline+Sans&display=swap');

:root {
    --main-color: #ED8C79;
}

html {
    height: 100%; /* requires for stable body height */
    /* cursor: none; */
    font-family: 'Spline Sans', sans-serif;
    touch-action: none;
}

body {
    min-height: 100%; /* requires for 'mix-blend-mode' */
    background-color: var(--main-color); /* requires for 'mix-blend-mode' */
    overflow: hidden;
}

.c-main {
    position: relative;
    width: 100vw;
    height: 100vh; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background .3s ease;

    background-color: var(--main-color);
}

.outerCircle {
    box-sizing: border-box;
    position: absolute;
    width: 6rem;
    height: 6rem;

    background: #fff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transform-origin: top left;

    mix-blend-mode: difference;

    pointer-events: none;

    transition-property: background-color, transform, opacity;
    transition-duration: .25s;
    transition-timing-function: ease;
}

.innerCircle {
    position: absolute;
    height: 1rem;
    width: 1rem;
    
    background: #fff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    
    mix-blend-mode: difference;
    
    pointer-events: none;

    transition-property: background-color, border, transform;
    transition-duration: .125s;
    transition-timing-function: ease;
}

.c-button {
    cursor: none;
    filter: invert(1);    
    transition: background .3s ease;
    border-radius: 0.2rem;
    padding: 1.5rem 2rem;
    transition: transform .2s ease;

    background-color: var(--main-color);
    color: var(--main-color);
}

.c-button:hover {
    transform: scale(0.95);
}

.c-button--text {
    filter: invert(1);
    user-select: none;
    font-size: 2rem;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.c-title {
    font-size: 5rem;
    filter: invert(1);
    user-select: none;
    padding: 5rem 2rem;
    font-family: 'Playfair Display', serif;
    color: var(--main-color);
}

.c-parrallax-button {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;

    background-color: var(--main-color);
    filter: invert(1);

    will-change: transform;
    transition: transform .3s ease;
}

.c-parrallax-button > p {
    filter: invert(1);
    text-transform: capitalize;
    color: var(--main-color);
    user-select: none;
}


.c-parrallax-button:hover {
    transform: scale(0.9);
}

.c-hex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1rem;
    filter: invert(1);
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 0.2rem;

    will-change: transform;
    transition: transform .3s ease;

    font-family: 'Roboto Mono', monospace;
    background-color: var(--main-color);
}

.c-hex:hover {
    transform: scale(0.9);
}

.c-hex--icon {
    filter: invert(1);
    height: 1rem;
    width: 1rem;
    fill: var(--main-color);
}

.c-hex--text {
    filter: invert(1);
    user-select: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0.5rem;
    color: var(--main-color);
}

.c-hex--copied {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.2rem;
    position: absolute;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.c-hex--copied > p {
    filter: invert(1);
    text-transform: capitalize;
    color: var(--main-color);
}

.c-hex--copied > svg {
    filter: invert(1);
    height: 1rem;
    width: 1rem;
    fill: transparent;
    stroke: var(--main-color);
}